[33mcommit a51e0af480a09f662e7c813f01c6116da07ac52d[m[33m ([m[1;36mHEAD -> [m[1;32mmaster[m[33m, [m[1;31morigin/master[m[33m)[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Sat Aug 15 11:53:26 2020 -0700

    address commit

[33mcommit 0c97eb328aff929ea2e1bdf471f72f107d73e01a[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Sat Aug 15 10:56:05 2020 -0700

    map iframe

[33mcommit e7a261f3a63b602123cb7a327a40a304cb3204c9[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Fri Aug 14 23:33:06 2020 -0700

    trainers

[33mcommit 9a60cea3f1b3c2f6536dbfe7b0c00d36c2428a40[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Thu Aug 13 03:04:09 2020 -0700

    trainer photos

[33mcommit 2bc02e16bdac2a7db3e18279f8d74885752846d3[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Thu Aug 13 01:04:26 2020 -0700

    clean up commit

[33mcommit faa77599f103c71eb05ac31a83014d35ff0c3a57[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Wed Aug 12 22:52:52 2020 -0700

    new images

[33mcommit f6fa96b58556a6ea9299e7da3e63291103e4b02d[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Wed Aug 12 22:50:44 2020 -0700

    new images

[33mcommit 2b80dd7f7d4801df51da518b8c834393398e5565[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Wed Aug 12 22:29:47 2020 -0700

    adding id html <section>

[33mcommit eb9404322f6723f2d5c64bb8065ac180387d9eb1[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Wed Aug 12 21:30:05 2020 -0700

    hero form changes

[33mcommit 58f5bcf5dd22fed8bbdabb89f703451c73f31f44[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Wed Aug 12 19:28:54 2020 -0700

    third commit

[33mcommit 7d898cdfc0fea77a5be78f415dca06cc0468c1a8[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Wed Aug 12 19:22:15 2020 -0700

    second commit

[33mcommit 001f3161e76642cf51df1f4afe2d36d8ecec15a4[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Mon Aug 10 21:51:37 2020 -0700

    First Module Commit

[33mcommit d3341df613aa60e5077359355202fef94328a1cf[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Tue Aug 4 18:43:07 2020 -0700

    html outline and gitignore

[33mcommit f513a3f2fdf7f4fbf78bd122b5c6fa06d4ac346b[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Tue Aug 4 18:13:18 2020 -0700

    add more text

[33mcommit f216ac8a3c08be35a1a44d5f706ab320d1d19b51[m
Author: Ara Musa <earlmcfield@gmail.com>
Date:   Tue Aug 4 18:09:31 2020 -0700

    page template
